*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(210, 36%, 96%);
  font-size: 0.9rem;
  line-height: 1.5;
  color: hsl(209, 61%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  letter-spacing: 0.1rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin-right: 1rem;
}
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.menu {
  padding: 5rem 0;
  margin: auto auto;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.underline {
  background-color: #c59d5f;
  height: 0.25rem;
  margin: 0 auto 0 auto;
  width: 5rem;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  align-items: center;
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid #c59d5f;
  border-radius: 0.25rem;
  display: block;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted hsl(210, 22%, 49%);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: #c59d5f;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}
.btn-container {
  margin: 2rem auto;
  justify-content: center;
  text-align: center;
}
.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  padding: 0.8rem;
  margin: 0 1rem;
  text-transform: capitalize;
  color: #c59d5f;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
}
.filter-btn:hover {
  background-color: #c59d5f;
  color: #fff;
}
.section-centre {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
}
.photo {
  height: 300px;
}
